# ignore local data
/version-1.0-orthanc/orthanc-db/
/version-1.0-orthanc/.vscode/
/version-1.0-orthanc/tools/__pycache__
/version-1.0-orthanc/web-service/__pycache__
/test_data/
/__pycache__
/data_interface/__pycache__
/frontend/__pycache__
/frontend/pages/__pycache__