{% extends "base.html" %}

{% block content %}

<div class="container">
        <p style="padding:0 40px;color: var(--bs-white);">Image file format should be one of the following: .jpg, .png, .bmp, .nii (NIfTI).</p>
        <p style="padding:0 40px;color: var(--bs-white);">To convert a whole directory please upload it as a zip file.</p>

</div>
<div class="container">
        <form action="http://vm204-misit.informatik.uni-augsburg.de/web/convert_file" method="POST" enctype="multipart/form-data">
                <div class="row">
                        <div class="col-md-12">
                                <input class="form-control-lg" type="file" name="file" multiple=''
                                        style="padding: 40px;color: var(--bs-yellow);" />
                        </div>
                </div>

                <div class="row">
                        <div class="col-md-6">
                                <input name="c" class="btn btn-outline-warning d-md-flex d-lg-flex justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center btn-xl" 
                                type = "submit"  role="button" style="width: 100%;height: 100px;font-size: 30px;border-width: 2px;text-align: center;" value="convert">
                        </div>

                        <div class="col-md-6">
                                <input name="c-and-u" class="btn btn-outline-warning d-md-flex d-lg-flex justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center btn-xl" 
                                type = "submit"  role="button" style="width: 100%;height: 100px;font-size: 30px;border-width: 2px;text-align: center;" value="convert & upload">
                        </div>
                </div>
        </form>
</div>

{% endblock %}