{% extends "base.html" %}

{% block content %}

<div class="container white-writing" style="padding:0 40px;">
        <p>Image file format should be one of the following: .jpg, .png, .bmp, .nii(.gz) (NIfTI).</p>
        <p>To convert a whole directory of medical images please upload it as a zip file.</p>
        <p>Please note that depending on the file size, conversion may take a while.  </p>  <br>

</div>
<div class="container">
        <form action="http://vm204-misit.informatik.uni-augsburg.de/web/convert_file" method="POST" enctype="multipart/form-data">
                <div class="row my-row">
                        <div class="container steps">
                                <p> <b>Step 1:</b> Select an image file from local directory ...<br></p>
                        </div>
                        <div class="col">
                                <input class="form-control-lg file-input" type="file" name="file" multiple='' />
                        </div>
                </div>

                <div class="row my-row">
                        <div class="container steps">
                                <p> <b>Step 2:</b> Choose processing ...</p>
                        </div>
                        <div class="col">
                                <input name="c" class="process-btn btn btn-light d-lg-flex justify-content-lg-center align-items-lg-center" 
                                type = "submit"  role="button" value="convert image">
                        </div>

                        <div class="col">
                                <input name="c-and-u" class="process-btn btn btn-light d-lg-flex justify-content-lg-center align-items-lg-center" 
                                type = "submit"  role="button"  value="convert image & upload to ORTHANC">
                        </div>
                </div>
        </form>
</div>

{% endblock %}